@import "screen.css";

.header {
    height: 300px;
    color: #ffffff;
    background-color: #00796B;
}

.image-holder {
    margin-top: -160px;
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 270px;
    height: 270px;
    border-radius: 300px;
    border: 1px solid #cccccc;
    background-color: #ffffff;
}

.image-holder > .picture {
    width: 250px;
    height: 250px;
}

.container > .row > .col {  
    padding: 30px;
    text-align: justify;
}

.container > .row > .col > .h1 {
    margin: auto;
}

.separator {
    height: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #000000;
}